div{background-color: aquamarine;
text-decoration-color: black;
}
main {
    display: flex;
    justify-content: center;
}
iframe {
    width: 600px;
    height: 400px;
}


.bombillas_article img{
    width: 400px;
}
body{background-color: #1A4D2E;
    
    }

    .secciones-ul{
        text-align: center;
        list-style: none;
        display: flex;
        align-items: flex-start;
        align-content: flex-end;
        justify-content: space-between;

        & a {
            text-decoration: none;
    }
}
   .container-cards{
    width: 250px;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    background: #FF9F29;
    flex-direction:column;
    align-content:stretch;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px
    
    
    
 }


 .articulos-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
 }

   .container-cards img {
    width: 150px;
   }
    
   
    




   
   


@media screen and (max-width: 300px) {
    
}