div{background-color: aquamarine;
text-decoration-color: black;
}

iframe {
    width: 600px;
    height: 400px;
}


.bombillas_article img{
    width: 400px;
}
body{background-image: url(img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;  
  
    }

    .secciones-ul{
        text-align: center;
        list-style: none;
        display: flex;
        align-items: flex-start;
        align-content: flex-end;
        justify-content: space-between;

        & a {
            text-decoration: none;
    }
}
   .container-cards{
    width: 250px;
    margin: 20px;


   }

   .container-cards img {
    width: 150px;
   }
    
   .articulos-2{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
   }
   


@media screen and (max-width: 300px) {
    
}