//paleta de colores//
$color-principal: green;
$color-letras-footer: #f8f8f8;
$color-letras:  #000000;
$color-container-cards: #FF9F29;

$display: flex;

//imagenes//
$img-containercards: width 150px;