body {
    background-color: #1a4d2e;
  }

  .container-cards {
    width: 250px;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    background: #ff9f29;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
  }